body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(221, 234, 238);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgb(255, 253, 253);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

canvas {
    border: 2px solid #333;
}

button{
    border: 5px solid rgb(28, 0, 28);
    border-style:double;
}
